/.idea/
/FamilieWandelPad/FamilieWandelPad/bin/
/FamilieWandelPad/FamilieWandelPad/obj/
/FamilieWandelPad/FamilieWandelPad.Android/bin/
/FamilieWandelPad/FamilieWandelPad.Android/obj/
/FamilieWandelPad/FamilieWandelPad.iOS/bin/
/FamilieWandelPad/FamilieWandelPad.iOS/obj/
/FamilieWandelPad/FamilieWandelPad/FamilieWandelPad.csproj.user
/FamilieWandelPad/FamilieWandelPad.Android/FamilieWandelPad.Android.csproj.user
/.vs/
